/************ CSS Style ************/

p {
    color: rgb(54, 52, 52);
    font-size: 18px;
    font-weight: bold;
}

li {
    color: #0e966d;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
}

ol {
    padding-left: 130px;
}


h3 {
    color: teal;
    padding-left: 100px;
}

h2 {
    color: rgb(20, 192, 192);

}
 img {
    width: 600px;
    height: 400px;
    padding: 10px;
} 